---
/**
 * Theme dropdown component for selecting themes.
 */
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<div class="theme-dropdown" id="theme-dropdown">
  <button
    class="theme-trigger"
    id="theme-trigger"
    aria-expanded="false"
    aria-haspopup="listbox"
    data-testid="theme-trigger"
  >
    <span class="visually-hidden">Select theme: </span>
    <img
      class="theme-trigger-icon"
      id="theme-trigger-icon"
      src={`${baseUrl}/assets/img/catppuccin-logo-macchiato.png`}
      alt=""
      width="20"
      height="20"
    />
    <span class="theme-label" id="theme-label">Mocha</span>
  </button>
  <div
    class="theme-menu"
    id="theme-menu"
    role="listbox"
    aria-label="Theme options"
  >
    <div class="theme-group">
      <div class="theme-group-label">Catppuccin</div>
      <button class="theme-option" data-theme="catppuccin-mocha" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/catppuccin-logo-macchiato.png`} alt="Catppuccin" width="20" height="20" />
        Mocha
      </button>
      <button class="theme-option" data-theme="catppuccin-macchiato" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/catppuccin-logo-macchiato.png`} alt="Catppuccin" width="20" height="20" />
        Macchiato
      </button>
      <button class="theme-option" data-theme="catppuccin-frappe" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/catppuccin-logo-macchiato.png`} alt="Catppuccin" width="20" height="20" />
        Frappe
      </button>
      <button class="theme-option" data-theme="catppuccin-latte" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/catppuccin-logo-latte.png`} alt="Catppuccin" width="20" height="20" />
        Latte
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">Dracula</div>
      <button class="theme-option" data-theme="dracula" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/dracula-logo.png`} alt="Dracula" width="20" height="20" />
        Dracula
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">Gruvbox</div>
      <button class="theme-option" data-theme="gruvbox-dark-hard" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/gruvbox-dark-hard.png`} alt="Gruvbox" width="20" height="20" />
        Dark Hard
      </button>
      <button class="theme-option" data-theme="gruvbox-dark" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/gruvbox-dark.png`} alt="Gruvbox" width="20" height="20" />
        Dark
      </button>
      <button class="theme-option" data-theme="gruvbox-dark-soft" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/gruvbox-dark-soft.png`} alt="Gruvbox" width="20" height="20" />
        Dark Soft
      </button>
      <button class="theme-option" data-theme="gruvbox-light-hard" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/gruvbox-light-hard.png`} alt="Gruvbox" width="20" height="20" />
        Light Hard
      </button>
      <button class="theme-option" data-theme="gruvbox-light" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/gruvbox-light.png`} alt="Gruvbox" width="20" height="20" />
        Light
      </button>
      <button class="theme-option" data-theme="gruvbox-light-soft" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/gruvbox-light-soft.png`} alt="Gruvbox" width="20" height="20" />
        Light Soft
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">GitHub</div>
      <button class="theme-option" data-theme="github-dark" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/github-logo-dark.png`} alt="GitHub" width="20" height="20" />
        Dark
      </button>
      <button class="theme-option" data-theme="github-light" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/github-logo-light.png`} alt="GitHub" width="20" height="20" />
        Light
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">Bulma</div>
      <button class="theme-option" data-theme="bulma-dark" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/turbo-themes-logo-dark.png`} alt="Bulma" width="20" height="20" />
        Dark
      </button>
      <button class="theme-option" data-theme="bulma-light" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/turbo-themes-logo.png`} alt="Bulma" width="20" height="20" />
        Light
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">Nord</div>
      <button class="theme-option" data-theme="nord" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/nord.png`} alt="Nord" width="20" height="20" />
        Nord
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">Solarized</div>
      <button class="theme-option" data-theme="solarized-dark" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/solarized-dark.png`} alt="Solarized" width="20" height="20" />
        Dark
      </button>
      <button class="theme-option" data-theme="solarized-light" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/solarized-light.png`} alt="Solarized" width="20" height="20" />
        Light
      </button>
    </div>
    <div class="theme-group">
      <div class="theme-group-label">Rosé Pine</div>
      <button class="theme-option" data-theme="rose-pine" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/rose-pine.png`} alt="Rosé Pine" width="20" height="20" />
        Rosé Pine
      </button>
      <button class="theme-option" data-theme="rose-pine-moon" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/rose-pine-moon.png`} alt="Rosé Pine" width="20" height="20" />
        Moon
      </button>
      <button class="theme-option" data-theme="rose-pine-dawn" role="option">
        <img class="theme-icon" src={`${baseUrl}/assets/img/rose-pine-dawn.png`} alt="Rosé Pine" width="20" height="20" />
        Dawn
      </button>
    </div>
  </div>
</div>
